body{
    font-family: verdana;
    font-size: 12px;

    background-image: url(mecanico.png);
}
div{
    margin-top: 150px;
}

table thead{
    background: #698B22;
    font-family: verdana;
    font-size: 12px;
    border-color: #698B22;
    color: white;
}
    label, a, legend, input{
    font-family: verdana;
    font-size: 12px;
}
h1{
    text-align: center;
    color: #698B22;
    font-family: Verdana;
    font-size: 15px;
}

a:link{
    font-family: verdana;
    color: #6B8E23;
    font-size: 12px;
}

a:visited{
    font-family: verdana;
    color: #663333;
    font-size: 12px;
}

legend{
    font-family: verdana;
    color: #8B4513;
    font-size: 12px;
}


